NODE_ENV=development

# Mail Services Config
EMAIL_OTP_PROVIDER=console
EMAIL_MX_VALIDATION=false

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5434

# Optional port
PORT=3000
# ConnectionString Prisma
DATABASE_URL="postgresql://<user>:<password>@localhost:5434/<database>?schema=public"

# -------------

## untuk network docker

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# Better Auth Config (secret min 32 character)
BETTER_AUTH_SECRET=32_characters_minimum_random_secret
BETTER_AUTH_URL=http://localhost:3000

# CORS Config
CORS_ORIGINS=

