## untuk local dev

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5434

# Optional port
PORT=3000
# ConnectionString Prisma
DATABASE_URL="postgresql://<user>:<password>@localhost:5434/<database>?schema=public"

# -------------

## untuk network docker

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# Optional port app
PORT=3000
# ConnectionString Prisma
DATABASE_URL="postgresql://<user>:<password>@service_name:5432/<database>?schema=public"

